.flex {
    display: flex;
}

.button {
    margin: auto 0;
    width: 80px;
    margin-right: 25px;  
    background-color: #40babd;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
  .button:hover {
    padding-right: 25px;
  }
